:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #ea3934;
  --color-secondary: #3a307f;
  --color-violet: #8c84cc;
  --color-violet--light: #f7f6fb;
  --color-gray--light: #f8f8f8;
  --color-before: #5745a0;
  --color-title: #333333;
  --color-text: #707070;
  --color-border: #e3e3e3;
  --color-bg--gray: #f7f7f7;
  --color-gray-light: #c1c1c1;
  --color-yellow: #f7c55f;
}
