.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  &:disabled {
    opacity: 0.3;
  }
}

.secondary {
  height: 36px;
  padding: 0 12px;
  color: #8c84cc;
  border: 1px solid #8c84cc;
  &:hover {
    // background-color: #f2f7fbff;
    background-color: #eceaf8;
  }
}

.primary {
  height: 48px;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-primary);
  font-weight: 600;
  &:hover {
  }
}

.modal {
  margin-top: 15px;
}
